@media (max-width: 767px) {
  .container-fluid > .navbar-header {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
  .navbar {
    border-radius: 0;
  }
}
.container-fluid > .navbar-header {
  float: none;
  margin-right: 0;
}
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
}
.navbar-nav .dropdown-menu li a{ 
	background-color: #555555; 
}
header navbar-nav{
	border-radius: 0;
}
div.menu-content {
	background-color: #999999;
	margin: 5%;
	padding: 1em;
}

